footer{
    background-color: var(--secondary_color_2);
    padding: 2rem;
}
.footer_container_logo{
    height: 18.75rem;
}
#footer_nav {
   flex-basis: 25%;
}
#footer_nav nav ul{
    flex-direction: column;
}
@media only screen and (max-width: 700px) {
    footer .footer_container {
        flex-wrap: wrap;
        gap: 2rem;
    }
    footer .footer_container  > div{
        flex-basis: 40%;
    }
    footer .footer_container_logo{
        flex-basis: 100% !important;
        text-align: center;
    }
    footer #footer_nav{
        order: 4;
    flex-basis: 100%;
    }
    footer nav{
        display: block;
        text-align: center;
    }
}
#footer_nav nav ul li:nth-last-child(n + 2){
    margin-bottom: 1.125rem;
}
footer label{
    font-family: markazi_medium;
    font-size: 2.5rem;
    color: var(--primary_color_1);
}
footer a{
    font-family: markazi_bold;
    font-size: 1.375rem;
    color: var(--primary_color_1);
}
.footer_container_info > div:nth-child(1){
    margin-bottom: 0.8125rem;
}
.footer_container_info  div > div{
    margin-bottom: 1.0625rem;
}